.Grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-size: cover;
    animation-name: Appearance;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

.Grid.Level1 {
    background-image: url("../images/bgLevels/1.jpeg");
    
}

.Grid.Level2 {
    background-image: url("../images/bgLevels/2.jpeg");
}

@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  
@-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
