.Grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-size: cover;
}

.Grid.Level1 {
    background-image: url("../images/bgLevels/1.jpeg");
}

.Grid.Level2 {
    background-image: url("../images/bgLevels/2.jpeg");
}
